
.cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/Inicio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Ajusta la opacidad, 0.5 es 50% de transparencia */
    z-index: -1; /* Envía el contenedor al fondo */
  }

  nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 2rem; 
    padding: 1.5rem; 
    background-color: #af70da;
    border-radius: 10px;
    margin: 1rem auto;
    max-width: 800px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold; 
    padding: 0.5rem 1rem; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #a35cc0;
}

nav a.active {
    font-weight: bold;
    color: #ffd700;
    background-color: #8e4ba9; 
    padding: 0.5rem 1rem;
}
