h2 {
    text-align: center;
    color: #af70da;
}

.cats-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 3rem; 
    margin: 1rem auto;
    max-width: 800px;
    padding: 1rem;
}

.cat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.cat-item:hover {
    transform: scale(1.05); 
}

.cat-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    border: 2px solid #af70da; 
}

.cat-item p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #333;
}

.cat-item button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    color: #fff;
    margin-top: 0.5rem;
    width: 100%;
}

.cat-item button.edit-button {
    background-color: #007bff;
}

.cat-item button.delete-button {
    background-color: #ff4d4d;
    margin-top: 0.3rem;
}


.add-button-container {
    display: flex;
    justify-content: center; 
    margin-top: 2rem; 
} 

.add-button {
    background-color: #af70da; 
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: inline-block;
    text-align: center;
    margin: 1rem 0; 
    text-decoration: none;
}

.add-button:hover {
    background-color: #8f46c0; 
    transform: scale(1.05); 
}

.add-button:active {
    background-color: #af70da; 
    transform: scale(0.98); 
}

